
<div class="hero-unit">
	<h1>Welcome to One Month rails!</h1>

	<p>	This is a test for the
		 <%= link_to "One Month Rails", "http://onemonthrails.com"%>
		 lessons
	</p>

	<p>
		<%=link_to "Sign up", "#" ,class: "btn btn-primary btn-large"%>

	</p>
</div>




