
/*Eample to change the font*/
/*$baseFontFamily: Oxygen;
#@import url(http://fonts.googleapis.com/css?family=Oxygen);
*/


$btnPrimaryBackground: purple;
$navbarBackgroundHighlight: white;
$navbarBackground: white;
@import 'bootstrap';

body {
	padding-top: 60px;
}
@import 'bootstrap-responsive';

/*THis overwrites the original bootstrap navbar-inner shadow*/
.navbar-inner{
	@include box-shadow(none !important);
	border: 05;
}

.footer {
	margin-top:50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}